.listContainer {
    box-sizing: border-box;
    color: var(--headingText);
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: auto;
}

.paginationList {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.paginationItem {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.pageLink {
    border: 1px solid transparent;
    color: inherit;
    cursor: pointer;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 5px 10px;
    transition: 0.3s ease border;
}

.pageLink:hover,
.pageLink:focus {
    background-color: var(--pagingationHover);
    border: 1px solid var(--pagingationHover);
    color: var(--pagingationHoverText);
}

.disabledLink,
.currentPage {
    color: inherit;
    cursor: pointer;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 5px 10px;
    transition: 0.3s ease border;
}

.rolo-pagination-break-item {
    width: 30px;
}

.rolo-break-link {
    font-size: 0;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-indent: 90px;
    width: 30px;
}

.rolo-break-link:before {
    content: '...';
    font-size: 0.875rem;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 0;
    width: 30px;
}
