.listContainer {
    box-sizing: border-box;
    color: var(--headingText);
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: auto;
}

.paginationList {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.paginationItem {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.pageLink {
    border: 1px solid transparent;
    color: inherit;
    cursor: pointer;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 5px 10px;
    transition: 0.3s ease border;
}

.pageLink:hover,
.pageLink:focus {
    background-color: var(--pagingationHover);
    border: 1px solid var(--pagingationHover);
    color: var(--pagingationHoverText);
}

.disabledLink,
.currentPage {
    color: inherit;
    cursor: pointer;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 5px 10px;
    transition: 0.3s ease border;
}

.skipLink {
    background-color: var(--visuallyHiddenBg);
    border: 2px solid var(--visuallyHiddenBorder);
    bottom: 1rem;
    color: var(--visuallyHiddenText);
    display: inline-block;
    left: -72rem;
    padding: 16px;
    position: absolute;
    text-align: center;
    z-index: 50;
}

.skipLink:focus {
    background-color: var(--visuallyHiddenBg);
    border: 2px solid var(--visuallyHiddenBorder);
    color: var(--visuallyHiddenText);
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
}
