.contactCard {
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 15px var(--shadow);
    color: var(--headingText);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 100%;
}

.closeButton {
    background-color: var(--bodyText);
    border: 2px solid var(--bodyBg);
    border-radius: 30px;
    color: var(--bodyBg);
    height: 48px;
    position: absolute;
    right: 1rem;
    text-decoration: none;
    top: 1rem;
    width: 48px;
}

.closeButton:hover,
.closeButton:focus {
    background-color: var(--bodyBg);
    border: 2px solid var(--active);
    border-radius: 30px;
    color: var(--closeFocus);
    height: 48px;
    position: absolute;
    right: 1rem;
    text-decoration: none;
    top: 1rem;
    width: 48px;
}

.contactActions {
    align-items: center;
    background: var(--contactShadow);
    bottom: 0;
    box-shadow: 0 0 15px var(--shadow);
    box-sizing: border-box;
    display: flex;
    height: 80px;
    justify-content: space-between;
    left: 0;
    padding: 16px;
    position: fixed;
    right: 0;
}

.actionButtonWrapper {
    margin-left: 16px;
    margin-right: 0;
}

.actionButtonWrapper:first-child {
    margin-left: auto;
}

.buttonText {
    color: inherit;
    font-size: 28px;
    line-height: 1;
    left: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 20px;
}

.contactImageContainer {
    display: flex;
    border-radius: 64px;
    flex-grow: 0;
    height: 48px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    overflow: hidden;
    width: 48px;
}

.contactDetails {
    flex-grow: 1;
    margin: 0 0 0 16px;
    padding: 0;
    width: auto;
}

.contactName {
    color: var(--headingText);
    font-size: 1.25rem;
    line-height: 1;
    margin: 0;
}

.hiddenPronouns {
    display: none;
}

.contactPronouns {
    color: var(--bodyText);
    display: block;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0 0 0.5rem;
    text-decoration: none;
    text-align: left;
}

.contactDetail {
    color: var(--bodyText);
    display: block;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
}

.contactDetail:hover,
.contactDetail:focus {
    color: var(--active);
}

.contactAddress {
    display: none;
}

.selectedContactAddress {
    display: block;
}

.fullContactCard .contactAddress,
.fullContactCard .selectedContactAddress {
    display: block;
    margin: 1rem auto 0;
    max-width: 20rem;
    text-align: left;
}

.fullContactCard {
    align-items: flex-start;
    background-color: var(--bodyBg);
    box-sizing: border-box;
    display: block;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 96px;
    padding-top: calc(20vh + 52px);
    text-align: center;
    width: 100%;
}

.fullContactCard:before {
    background-color: var(--contactHighlight);
    border-radius: 4px 4px 0 0;
    content: '';
    display: block;
    left: 0;
    height: 20vh;
    position: absolute;
    right: 0;
    top: 0;
}

.fullContactCard .contactImageContainer {
    border-radius: 64px;
    display: flex;
    flex-grow: 0;
    height: 72px;
    left: 50%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: calc(20vh - 36px);
    transform: translateX(-50%);
    width: 72px;
}

.fullContactCard .contactName {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.fullContactCard .contactPronouns {
    color: var(--bodyText);
    display: block;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

.fullContactCard .contactDetails {
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
}

.fullContactCard .contactDetail {
    margin-bottom: 0.5rem;
}

.addressIcon {
    display: inline-block;
    margin: 0 12px 0 0;
    vertical-align: middle;
    width: 18px;
}

@media screen and (min-width: 40rem) {
    .contactAddress,
    .selectedContactAddress,
    .contactPronouns {
        display: none;
    }

    .contactActions {
        left: 20rem;
        bottom: 80px;
    }

    .fullContactCard {
        height: calc(100vh - 160px);
        position: relative;
    }
}

@media screen and (min-width: 60rem) {
    .fullContactCard {
        padding-top: calc(25vh + 80px);
        position: relative;
    }

    .fullContactCard:before {
        border-radius: 6px 6px 0 0;
        height: 25vh;
    }

    .fullContactCard .contactImageContainer {
        height: 128px;
        top: calc(25vh - 64px);
        width: 128px;
    }
}
