.contactCard {
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 100%;
}

.contactImageContainer {
    display: none;
}

.contactName {
    color: #000;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0;
}

.hiddenPronouns {
    display: none;
}

.contactPronouns {
    color: #333;
    display: block;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0 0 0.5rem;
    text-decoration: none;
    text-align: left;
}

.contactDetail {
    color: #333;
    display: block;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
}

.contactAddress {
    display: none;
}

.selectedContactAddress {
    display: block;
}

@media screen and (min-width: 20rem) {
    .contactImageContainer {
        display: flex;
        border-radius: 64px;
        flex-grow: 0;
        height: 48px;
        margin: 0;
        padding: 0;
        object-fit: cover;
        overflow: hidden;
        width: 48px;
    }

    .contactDetails {
        flex-grow: 1;
        margin: 0 0 0 16px;
        padding: 0;
        width: auto;
    }
}

@media screen and (min-width: 40rem) {
    .contactAddress,
    .selectedContactAddress,
    .contactPronouns {
        display: none;
    }

    .fullContactCard .contactAddress,
    .fullContactCard .selectedContactAddress {
        display: block;
        margin: 1rem auto 0;
        max-width: 20rem;
        text-align: left;
    }
    
    .fullContactCard {
        align-items: flex-start;
        background-color: #FFF;
        box-sizing: border-box;
        display: block;
        min-height: 100%;
        padding-top: 116px;
        text-align: center;
        width: 100%;
    }

    .fullContactCard:before {
        background-color: #008390;
        border-radius: 4px 4px 0 0;
        content: '';
        display: block;
        left: 0;
        height: 72px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .fullContactCard .contactImageContainer {
        height: 72px;
        left: 50%;
        position: absolute;
        top: 36px;
        transform: translateX(-50%);
        width: 72px;
    }

    .fullContactCard .contactName {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
    }

    .fullContactCard .contactPronouns {
        color: #333;
        display: block;
        font-size: 0.75rem;
        line-height: 1;
        margin: 0;
        text-decoration: none;
        text-align: center;
    }

    .fullContactCard .contactDetails {
        margin: 0 auto;
        max-width: 90%;
        width: 100%;
    }

    .fullContactCard .contactDetail {
        margin-bottom: 0.5rem;
    }

    .fullContactCard .nonMobileContactDetail {
        display: block;
        font-size: 1rem;
        line-height: 1.25;
        margin: 0 0 0.5rem;
    }
}

@media screen and (min-width: 60rem) {
    .fullContactCard {
        border-radius: 6px;
        padding-top: 208px;
    }

    .fullContactCard:before {
        border-radius: 6px 6px 0 0;
        height: 128px;
    }

    .fullContactCard .contactImageContainer {
        height: 128px;
        top: 64px;
        width: 128px;
    }
}