.contactListContainer {
    background-color: var(--bodyBg);
    bottom: 80px;
    min-height: calc(100vh - 160px);
    overflow: hidden;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 50;
}

.contactList {
    box-sizing: border-box;
    list-style: none;
    height: calc(100vh - 160px);
    margin: 0;
    overflow-y: auto;
    padding: 0;
    width: 100%;
}

.contactList:focus {
    box-shadow: inset 3px 3px 5px var(--shadow);
}

.contactListItem {
    background-color: transparent;
    margin: 0;
}

.contactLink {
    background-color: var(--bodyBg);
    border: 1px solid transparent;
    box-sizing: border-box;
    color: var(--pagingationHover);
    display: block;
    margin: 0;
    position: relative;
    transition: 0.3s ease all;
}

.contactLink:before {
    background-color: transparent;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease background;
    width: 6px;
}

.contactLink:hover,
.contactLink:focus {
    background-color: var(--contactShadow);
    border-color: var(--break);
    box-shadow: inset 0 0 12px var(--shadow);
    color: var(--active);
}

[data-selected='true'] .contactLink {
    background-color: var(--contactShadow);
    border-color: var(--active);
    text-decoration: none;
}

[data-selected='true'] .contactLink:before {
    background-color: var(--active);
}

.selectedContact {
    align-items: flex-start;
    background-color: var(--bodyBg);
    border: 1px solid transparent;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s ease border;
    z-index: 100;
}

.noSelectedContent {
    display: none;
}

.selectedContact:focus,
.noSelectedContent:focus {
    border-color: var(--contactFocus);
    outline: none;
}

.instructions {
    display: none;
}

@media screen and (min-width: 40rem) {
    .contactListContainer {
        column-gap: 0;
        display: grid;
        grid-template-columns: 20rem auto;
        row-gap: 0;
    }

    .contactList {
        border-right: 1px solid var(--break);
    }

    .selectedContact {
        bottom: 80px;
        left: 20rem;
        right: 0;
        top: 80px;
    }

    .noSelectedContent {
        align-items: flex-start;
        background-color: var(--bodyBg);
        border: 1px solid transparent;
        bottom: 80px;
        left: 20rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        position: fixed;
        right: 0;
        top: 80px;
        transition: 0.3s ease border;
        z-index: 100;
    }

    .instructions {
        display: block;
        color: var(--headingText);
        margin: auto;
        max-width: 20rem;
    }
}
