.contactListContainer {
    background-color: #FFF;
    min-height: calc(100vh - 80px);
    width: 100%;
}
    
.contactList {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.contactList:focus {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.contactListItem {
    background-color: transparent;
    margin: 0;
}

.contactLink {
    background-color: #FFF;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #47CCDE;
    display: block;
    margin: 0;
    position: relative;
    transition: 0.3s ease all;
}

.contactLink:before {
    background-color: transparent;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease background;
    width: 6px;
}

.contactLink:hover,
.contactLink:focus {
    background-color: #FAFAFA;
    border-color: #F0F0F0;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
    color: #008390;
}

[aria-selected="true"] .contactLink {
    background-color: #FAFAFA;
    border-color: #008390;
    text-decoration: none;
}

[aria-selected="true"] .contactLink:before {
    background-color: #008390;
}

.selectedContact {
    align-items: flex-start;
    background-color: #FFF;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 90;
}

.instructions {
    display: none;;
}

@media screen and (min-width: 40rem) {
    .contactListContainer {
        column-gap: 0;
        display: grid;
        grid-template-columns: 20rem auto;
        row-gap: 0;
    }

    .contactList {
        border-right: 1px solid #F0F0F0;
    }

    .selectedContact {
        position: relative;
    }

    .noSelectedContent {
        align-items: flex-start;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        position: relative;
        z-index: 90;
    }

    .instructions {
        display: block;
        color: #000;
        margin: auto;
        max-width: 20rem;
    }
}
