.rolo-main-content {
    align-items: center;
    background-color: var(--highlight);
    box-sizing: border-box;
    color: var(--bodyBg);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    justify-content: center;
    overflow: hidden;
    padding-bottom: 80px;
    width: 100%;
}

.rolo-visually-hidden-link {
    background-color: var(--visuallyHiddenBg);
    border: 2px solid var(--highlight);
    color: var(--highlight);
    display: inline-block;
    left: -72rem;
    padding: 16px;
    position: absolute;
    top: 1rem;
    z-index: 50;
}

.rolo-visually-hidden-link:focus {
    left: 1rem;
}

.rolo-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.rolo-pagination {
    background-color: var(--highlight);
    bottom: 0;
    color: var(--headingText);
    display: flex;
    left: 0;
    padding: 16px;
    position: fixed;
    right: 0;
}

.rolo-pagination-list {
    display: flex;
    font-size: 0.875rem;
    list-style: none;
    margin: 0 auto;
    padding: 16px;
}

.rolo-pagination-link-active {
    background-color: var(--active);
    color: var(--bodyBg);
}

.rolo-pagination-link {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s ease border;
}

.rolo-pagination-link:hover,
.rolo-pagination-link:focus {
    border: 1px solid var(--pagingationHover);
}
