.rolo-main-content {
    align-items: center;
    background-color: #282C34;
    box-sizing: border-box;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 92px;
}

.rolo-visually-hidden-link {
    background-color: #FFF;
    border: 2px solid #282C34;
    color: #282C34;
    display: inline-block;
    left: -72rem;
    padding: 16px;
    position: absolute;
    top: 1rem;
    z-index: 50;
}

.rolo-visually-hidden-link:focus {
    left: 1rem;
}

.rolo-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.rolo-pagination {
    background-color: #282C34;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 16px;
    position: fixed;
    right: 0;
}

.rolo-pagination-list {
    display: flex;
    font-size: 0.875rem;
    list-style: none;
    margin: 0 auto;
    padding: 16px;
}

.rolo-pagination-link-active {
    background-color: #008390;
    color: #FFF;
}

.rolo-pagination-link {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s ease border;
}

.rolo-pagination-link:hover,
.rolo-pagination-link:focus {
    border: 1px solid #47CCDE;
}
