body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', ans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rolo-app {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

/* stylelint-disable custom-property-empty-line-before, rule-empty-line-before */
:root {
    --visuallyHiddenBg: #FAFAFA;
    --bodyBg: #FFF;
    --bodyText: #303030;
    --headingText: #000;
    --highlight: #282C34;
    --active: #008390;
    --contactHighlight: #008390;
    --pagingationHover: #47CCDE;
    --break: #F0F0F0;
    --contactShadow: #FAFAFA;
    --shadow: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --visuallyHiddenBg: #818284;
        --bodyBg: #282C34;
        --bodyText: #FFF;
        --headingText: #FAFAFA;
        --highlight: #1A1A1A;
        --active: #47CCDE;
        --contactHighlight: #008390;
        --pagingationHover: #008390;
        --break: #000;
        --contactShadow: #2A2A2A;
        --shadow: rgba(0, 0, 0, 0.5);
    }
}

/* stylelint-enable custom-property-empty-line-before, rule-empty-line-before */
