body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', ans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rolo-app {
    display: block;
    height: 100vh;
    overflow: hidden;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

/* stylelint-disable */
[inert] {
    pointer-events: all !important;
    cursor: default !important;
}

[inert],
[inert] * {
    user-select: auto !important;
}

:root {
    --visuallyHiddenBg: #FAFAFA;
    --visuallyHiddenBorder: #008390;
    --visuallyHiddenText: #008390;
    --bodyBg: #FFF;
    --bodyText: #303030;
    --headingText: #000;
    --highlight: #282C34;
    --active: #008390;
    --contactHighlight: #008390;
    --pagingationHover: #47CCDE;
    --break: #F0F0F0;
    --contactShadow: #FAFAFA;
    --contactFocus: #CACACA;
    --closeFocus: #008390;
    --shadow: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bodyBg: #282C34;
        --bodyText: #FFF;
        --headingText: #FAFAFA;
        --highlight: #1A1A1A;
        --active: #47CCDE;
        --contactHighlight: #008390;
        --pagingationHover: #008390;
        --break: #000;
        --contactShadow: #2A2A2A;
        --contactFocus: #008390;
        --closeFocus: #FFF;
        --shadow: rgba(0, 0, 0, 0.5);
    }
}
/* stylelint-enable */
